@font-face {
  font-family: "Muli Regular";
  src: url(../assets/fonts/Muli/Muli-Regular/Muli-Regular.woff);
}
@font-face {
  font-family: "Muli Bold";
  src: url(../assets/fonts/Muli/Muli-Bold/Muli-Bold.woff);
}
@font-face {
  font-family: "Muli Black";
  src: url(../assets/fonts/Muli/Muli-Black/Muli-Black.woff);
}

//Styleguide colors
$primaryLightColor: #364fcc;
$primaryDarkColor: #151f51;
$accentColor: #ff5e5e;
$textColor: #6a6b7b;
$iconsDarkColor: #8a8fa8;
$iconsLightColor: #ebebf5;
$hoverColor: #f5f6fc;
$bgColor: #fbfbfd;

// Media Queries
$desktop: 2000px;
$laptop: 1679px;
$tablet: 1024px;
$mobile: 768px;
