@import 'src/common/scss/variables';

.mainMenu {
  display: none;
}

.mainMenuItem {
  color: $colorGray;
  display: block;
  padding: 17px 0;
  padding-left: 46px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: 26px 26px;
}

.menuContainer {
  height: 600px;
  display: flex;
  flex-direction: column;

  li:last-child {
    margin-top: auto;
  }
}
.active {
  color: $colorAccent;
}

.converter {
  composes: mainMenuItem;
  background-image: url('../../assets/svg/menu/converter.svg');
}
.otcDesk {
  composes: mainMenuItem;
  background-image: url('../../assets/svg/menu/otc.svg');
}
.paymentAccounts {
  composes: mainMenuItem;
  background-image: url('../../assets/svg/menu/payment_accounts.svg');
}
.beneficiaries {
  composes: mainMenuItem;
  background-image: url('../../assets/svg/menu/beneficiary.svg');

  border-bottom: 1px solid $inputBorderColor;
  padding-bottom: 30px;
}
.history {
  composes: mainMenuItem;
  padding-top: 30px;
  background-image: url('../../assets/svg/menu/history.svg');
}
.support {
  composes: mainMenuItem;
  background-image: url('../../assets/svg/menu/support.svg');
}
.settings {
  composes: mainMenuItem;
  background-image: url('../../assets/svg/menu/settings.svg');
}
.logout {
  composes: mainMenuItem;
  background-image: url('../../assets/svg/menu/logout.svg');
  border-top: 1px solid $inputBorderColor;
  padding-top: 30px;
}

@media (min-width: $laptop) {
  .mainMenu {
    display: block;
    height: 100%;
  }
}
