@import 'src/common/scss/variables';

.section {
  padding: 26px 0;

  &__inner {}

  &--description {
    .section__inner {
      display: flex;
      flex-direction: row;
      align-items: start;
      width: 100%;

      p:first-child {
        margin-right: 32px;
      }
    }
  }

  &--cards {
    .section__inner {
      display: flex;
      flex-direction: row;
      align-items: start;
      width: 100%;
    }
  }

  &--list {
    .section__inner {
      display: flex;
      align-items: start;
      flex-direction: column;
      width: 100%;
    }
  }
}

.card-item {
  width: 100%;
  max-width: 33%;
  min-width: 100px;
  margin: 0 14px 28px 14px;

  &:first-child {
    margin-left: 0;
  }

  &:nth-child(n+3) {
    margin-right: 0;
  }

  &:nth-child(n+4) {
    margin-left: 0;
  }
}

.list-item {
  width: 100%;
}
