@import "../../index.scss";

.left {
  margin-right: 100px;
}

.right {
  margin-left: auto;
  font-family: "Muli Regular", Arial, Helvetica, sans-serif;
}

.singleValue {
  font-family: "Muli Regular", Arial, Helvetica, sans-serif;
}
