@import "../index.scss";

.container {
  position: relative;
  height: 45px;
  width: 45px;
}

.openButton {
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

.menuContainer {
  position: absolute;
  top: 17px;
  right: 17px;
  // box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04);
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04);
  background-color: white;
}

.menuItem {
  min-width: 133px;
  width: auto;
  padding: 18px 13px;
  font-size: 16px;
  font-family: "Muli Regular";
  color: $textColor;
  display: flex;
  align-items: center;
}

.menuItem:hover {
  color: $primaryLightColor;
}

.menuItem:not(:last-child) {
  background-image: linear-gradient($iconsLightColor, $iconsLightColor);
  background-size: 80% 1px;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.openIcon {
  color: $primaryLightColor;
  width: 36px;
  height: 30px;
}

.closeIcon {
  color: $primaryLightColor;
  width: 35px;
  height: 35px;
}

.deleteIcon,
.editIcon {
  color: $textColor;
  width: 20px;
  height: 20px;
}

.menuItem:hover .deleteIcon,
.menuItem:hover .editIcon {
  color: $primaryLightColor;
}

.name {
  margin-left: 10px;
}
