@import 'src/common/scss/variables';

.form {
  background: #fff;
  padding: 30px 20px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.04);
}

.fields {
  display: flex;
  margin-bottom: 80px;
}

.field {
  min-width: 33.3%;
  padding: 0 14px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.fieldLabel {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  color: #151F51;
  margin-bottom: 13px;
  cursor: pointer;
}

.fieldInput {
  display: block;
  width: 100%;
  font-family: 'Muli Regular';
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  border: 1px solid #EBEBF5;
  border-radius: 1px;
  background-color: transparent;
  color: #151F51;
  padding: 15px;
}

.controls {
  display: flex;
  justify-content: flex-end;
}