@import 'src/common/scss/variables';

.card {
  padding: 30px;
  border-radius: 2px;
  background: #ffffff;
  color: $colorGray;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.04);
  text-align: center;

  &__media {
    width: 45px;
    display: block;
    margin: 0 auto;
  }

  &__icon {
    display: block;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 33px;
    color: $colorAccent;
  }

  &__text {

  }
}
