@import 'src/common/scss/variables';

.modal {
  &__overlay {
    background-color: rgba(0,0,0,0.55);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all ease-in-out .3s;

    &--visible {
      opacity: 1;
    }
  }

  &__window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    min-height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }

  &__header,
  &__body,
  &__footer {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  &__header {
    align-items: center;
    min-height: 60px;
  }

  &__body {
    min-height: 60px;
  }

  &__footer {
    align-items: center;

    button:last-child {
      margin-left: 10px;
    }
  }

  &__title {
    color: $colorPrimary;
    margin-bottom: 10px;
    font-family: "Muli Black";
    font-size: 30px;
    line-height: 38px;
  }
}
