@import "../../index.scss";

.card {
  font-family: "Muli Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: $textColor;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.04);
  background-color: white;
  padding: 20px 32px 20px 0;

  display: grid;
  grid-template-columns: 1fr 40px;

  @media (min-width: $mobile) {
    grid-template-columns: 1fr 40px 60px;
    column-gap: 4%;
  }
}

.card:hover {
  background-color: $hoverColor;
}

.visible {
  grid-row: 1;
  grid-column: 1 / -1;
  padding-bottom: 20px;
  padding-left: 20px;

  @media (min-width: $mobile) {
    grid-column: 1 / 2;
  }
}
.hidden {
  padding-left: 20px;
  grid-row: 3;
  grid-column: 1 / -1;
  padding-top: 20px;

  @media (min-width: $mobile) {
    background-image: linear-gradient($iconsLightColor, $iconsLightColor);
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: top left;
  }
}

.dropdownButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  grid-row: 2;
  grid-column: 1 / -1;
  margin-bottom: -20px;

  @media (min-width: $mobile) {
    grid-row: 1;
    grid-column: 3;
    width: 100%;
    margin-bottom: 0;
  }
}

.dropdownButton.open {
  background-image: linear-gradient($iconsLightColor, $iconsLightColor);
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: bottom left;
  margin-bottom: 0px;

  @media (min-width: $mobile) {
    background-image: none;
  }
}

.hideOnTablet {
  @media (min-width: $mobile) {
    display: none;
  }
}

.details {
  display: none;
  @media (min-width: $mobile) {
    display: block;
    margin-right: 10px;
  }
}

.indicatorIcon {
  height: 18px;
  width: 12px;
  display: block;
  flex-shrink: 0;

  @media (min-width: $mobile) {
    height: 8px;
  }
}
.indicatorIcon.open {
  transform: rotate(180deg);
  color: $primaryLightColor;
}

.settingsMenu {
  // grid-row: 1;
  // grid-column: 2;
}
