@import 'src/common/scss/variables';

.main {
  display: flex;
  padding: 30px;
  border-radius: 2px;
  background: #ffffff;
  color: $colorGray;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;
}

.left {
  margin-right: 30px;
  border-radius: 50%;
  background-color: #F5F6FC;
  text-align: center;
  align-self: start;
}

.right {
  padding-right: 85px;
}

.count {
  height: 60px;
  width: 60px;
}

.number {
  display: inline-block;
  vertical-align: middle;
  line-height: 60px;
  font-size: 22px;
  font-weight: bold;
  color: $colorPrimary;

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.title {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: $colorPrimary;
}

.text {}
