@import "../../lib/index.scss";

.logoLink {
  display: block;
  height: 26px;

  @media (min-width: $tablet) {
    margin-bottom: 43px;
  }
}

.logoIcon {
  height: 100%;

  color: $primaryDarkColor;
}
