@import "../../index.scss";

@mixin leftAlignedDash {
  background-image: linear-gradient($iconsLightColor, $iconsLightColor);
  background-repeat: no-repeat;
  background-size: 80% 1px;
  background-position: top left;
}

.dropdownButton {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  margin-bottom: -20px;

  @media (min-width: $mobile) {
    height: 1px;
    margin-bottom: 20px;
    @include leftAlignedDash;
  }
}

.indicatorIcon {
  height: 10px;
  width: 12px;

  @media (min-width: $mobile) {
    display: none;
  }
}

.up {
  transform: rotate(180deg);
}

.dash {
  margin-bottom: 20px;
  @include leftAlignedDash;
}

.hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;

  @media (min-width: $mobile) {
    position: static;
    clip: none;
    height: auto;
    width: auto;
  }
}

.show {
  position: static !important;
  clip: none !important;
  height: auto !important;
  width: auto !important;
}

.hide {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
