@import "../../index.scss";

.wrapper {
  display: none;
  position: relative;

  @media (min-width: $tablet) {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    height: calc(100vh - 45px);
    min-height: 590px;
    padding-right: 40px;
  }
}

.siteLogo {
  margin-bottom: 35px;
}

//========= menu sections ======
.itemsTop {
  padding-bottom: 13px;
}

.itemsMiddle {
  border-top: 1px solid $iconsLightColor;
  padding-top: 13px;
}

.itemsBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid $iconsLightColor;
  padding-top: 13px;
}
