@import "../../lib/index.scss";

.layout {
  min-height: 100vh;
  width: 100%;
  position: relative;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.contentContainer {
  padding: 34px 23px;
}

.headerContainer {
  @media (min-width: $tablet) {
    width: 257px;
    dispplay: flex;
  }

  @media (min-width: $desktop) {
    // width: 20%;
    flex-shrink: 0;
  }
}

.contentContainer {
  flex-grow: 1;
}

@media screen and (max-width: $tablet) {
  .contentContainer {
    padding-left: 16px;
    padding-right: 16px;
  }
}
