@import "../../index.scss";

.wrapper {
  background-color: gray;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 260px;
  background-color: white;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.07);
  padding: 30px 0 30px 30px;
  display: flex;
  flex-direction: column;
  z-index: 9999;
}

.closeMenuButton {
  position: absolute;
  top: 15px;
  right: 15px;
}

.item {
  display: flex;
  font-family: "Muli Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: $textColor;
  line-height: 24px;
  padding: 17px 0;
}

.itemsBottom li {
  padding-bottom: 0;
}

.item:hover .text {
  color: $primaryLightColor;
  font-family: "Muli Bold";
}

.activeLink .text {
  color: $primaryLightColor;
  font-family: "Muli Bold";
}

.icon {
  margin-right: 18px;
  width: 26px;
  height: 26px;
  flex-shrink: 0;

  // @media (min-width: $desktop) {
  //   width: 40px;
  //   height: 40px;
  // }
}

.text {
  white-space: nowrap;
}

//========= menu sections ======

.itemsTop {
  margin-top: 50px;
  padding-bottom: 13px;
}

.itemsMiddle {
  border-top: 1px solid $iconsLightColor;
  padding-top: 13px;
}

.itemsBottom {
  border-top: 1px solid $iconsLightColor;
  padding-top: 13px;
  margin-top: auto;
}
