@import "../index.scss";

.container {
  font-family: "Muli Regular", Arial, Helvetica, sans-serif;
}

.info {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.label {
  font-size: 16px;
  display: block;
  color: $primaryDarkColor;
  margin-right: 10px;
}

.error {
  color: $accentColor;
  // white-space: nowrap;
  max-width: 100%;
}

.errorIcon {
  display: inline-block;
  height: 12px;
  margin-right: 7px;
}

.errorMessage {
  overflow: hidden;
}

.input {
  font-family: "Muli Bold", Arial, Helvetica, sans-serif;
  border: 1px solid $iconsLightColor;
  border-radius: 2px;
  height: 52px;
  padding: 0 10px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: $primaryDarkColor;
  box-sizing: border-box;
}

.input::placeholder {
  color: $textColor;
  font-family: "Muli Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
