@import "../index.scss";

.active {
}

.wrapper {
  font-family: "Muli Bold", Arial, Helvetica, sans-serif;
  background-color: white;
  color: $textColor;
}

.titles {
  display: flex;
  border-bottom: 1px solid $iconsLightColor;
}

.title {
  padding: 15px 20px;
  font-size: 16px;
  line-height: 24px;
}

.title:hover {
  color: $primaryDarkColor;
}

// .title:first-child {
//   padding-left: 0;
// }

.title.active {
  background-image: linear-gradient($accentColor, $accentColor);
  background-repeat: no-repeat;
  background-position: bottom 0 left 0;
  background-size: 100% 3px;
}

.content {
  padding: 30px 0;
}
