@import "../../lib/index.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs {
  background-color: transparent;
}

.card {
  margin-bottom: 20px;
}

.visible {
  display: block;
  @media (min-width: $mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  & div:nth-child(4) {
    margin-left: auto;
  }
}

.hidden {
  display: block;
  @media (min-width: $mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.cardItem {
  margin-bottom: 20px;
  margin-right: 20px;

  &.currencyCardItem {
    margin-left: auto;
  }

  @media (min-width: $mobile) {
    margin-bottom: 0;
  }
}
