@import 'src/common/scss/variables';

.optionCurrencyIcon {
  width: 16px;
  height: 16px;
  margin-right: 16px;
}

.singleValueCurrencyIcon {
  width: 16px;
  height: 16px;
  margin-right: 16px;
  color: $colorAccent;
}

.dropdownArrow {
  width: 10px;
  height: 10px;
}

.customOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid $inputBorderColor;

  &_Code {
    font-family: 'Muli Bold', Arial, Helvetica, sans-serif;
  }

  &_Name {
    margin-left: auto;
    font-size: 14px;
  }
}
