@import "../../index.scss";

.card {
  font-family: "Muli Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: $textColor;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.07);
  background-color: white;
  padding: 20px 20px;
}
