@import "../../lib/index.scss";

.wrapper {
  width: 28px;
  height: 28px;
  position: relative;
}

.wrapper:before,
.wrapper:after {
  position: absolute;
  left: 13px;
  content: " ";
  height: 100%;
  width: 2px;
  background-color: $textColor;
}
.wrapper:before {
  transform: rotate(45deg);
}
.wrapper:after {
  transform: rotate(-45deg);
}
