@import "../../lib/index.scss";

.mainTitle {
  margin-bottom: 30px;
}

.sectionTitle {
  margin: 0;
  margin-bottom: 18px;
  display: none;

  @media (min-width: $mobile) {
    display: block;
  }
}

.calcSection {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.acceptSection {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $mobile) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.resetButton {
  order: 2;

  @media (min-width: $mobile) {
    order: 0;
  }
}

.acceptButton {
  margin-bottom: 15px;
}

.popularSection {
  display: none;

  @media (min-width: $mobile) {
    display: block;
  }
}

.value {
  grid-column: 1;
}

.currency {
  grid-column: 2;
  width: 100%;
}

.account {
  grid-row: 2;
  grid-column: 1 / -1;

  @media (min-width: $tablet) {
    grid-row: 3;
    margin-top: 80px;
  }
}

.info {
  font-size: 14px;
  grid-row: 3;
  grid-column: 1 / -1;

  @media (min-width: $tablet) {
    grid-row: 2;
  }
}

.swap {
  @media (min-width: $tablet) {
    margin: 0 20px;
  }
}
