.container {
  display: flex;
  justify-content: space-between;
}

.code {
  margin-bottom: 12px;
}

.value {
  font-family: "Muli Regular", Arial, Helvetica, sans-serif;
}

.percent {
  color: green;
}

.down {
  color: red;
}
