.btn {
  color: #FFFFFF;
  font-family: 'Muli Bold';
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  padding: 15px 45px;
  text-align: center;
  min-width: 180px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-out;

  & + & {
    margin-left: 20px;
  }

  &--default {
    background: #f1f1f4;
    color: #151F51;

    &:hover {
      background: #e1e2e9;
    }
  }

  &--primary {
    background: #364fcc;

    &:hover {
      background: #2a3ea2;
    }

    &:disabled {
      background: #aeb7ec;
    }
  }

  &--warning {
    background: #ff5e5e;

    &:hover {
      background: #ef5858;
    }

    &:disabled {
      background: #ffbfbf;
    }
  }
}
