@import 'src/common/scss/variables';

.title {
  color: $colorPrimary;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 38px;
}

.section {
  &__title {
    font-weight: bold;
    color: $colorPrimary;
    margin-bottom: 24px;
  }
}
