@font-face {
  font-family: "Muli Regular";
  src: url(../../assets/fonts/Muli/Muli-Regular/Muli-Regular.woff);
}
@font-face {
  font-family: "Muli Bold";
  src: url(../../assets/fonts/Muli/Muli-Bold/Muli-Bold.woff);
}
@font-face {
  font-family: "Muli Black";
  src: url(../../assets/fonts/Muli/Muli-Black/Muli-Black.woff);
}
