// Colors
$colorPrimary: #151f51;
$colorGray: #6a6b7b;
$colorAccent: #364fcc;
$colorAccent2: #ff5e5e;



$inputBorderColor: #ebebf5;

// Media Queries
$wideScreen: 1680px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 392px;
