.password{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #151f51;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 100%;
    max-width: 480px;
    background-color: #fff;
    padding: 48px 40px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.07);
}

.buttonWrapper{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
