@import "../../lib/index.scss";

.header {
  background-color: #fff;
  min-height: 60px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.08);

  @media (min-width: $tablet) {
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    padding: 40px 0 45px 35px;
  }
  @media (min-width: $desktop) {
    padding: 40px 0 40px 65px;
  }
}

.siteLogo {
  display: block;
  @media (min-width: $tablet) {
    display: none;
  }
}

.burgerBtn {
  display: block;
  width: 20px;
  height: 16px;
  margin-left: auto;

  @media (min-width: $tablet) {
    display: none;
  }
}
