@import "../../index.scss";

.wrapper {
  display: grid;
  grid-template-columns: 1fr 23%;
  align-items: end;
  gap: 10px;

  @media (min-width: 770px) {
    grid-template-columns: 1fr 15% 1fr;
  }
}

.bankName {
  grid-column: 1 / -1;
  margin-top: 20px;

  @media (min-width: 770px) {
    margin-top: auto;
    grid-column: auto;
  }
}
