@import "../../lib/index.scss";

.title {
  margin-bottom: 30px;
}

.subtitle {
  grid-column: 1 / -1;
  margin: 0;
  margin-bottom: 18px;
}

.section {
  margin-bottom: 55px;
}

.info {
  grid-column: 1 / -1;
}

//================= Exchange Section =====================

.exchange {
  @media (min-width: $tablet) {
    display: flex;
  }
}
// dash separator
$dash: 1px solid $iconsLightColor;

.panel:first-child {
  border-bottom: $dash;
  padding-bottom: 35px;

  @media (min-width: $tablet) {
    border-bottom: none;
    border-right: $dash;

    padding-bottom: 0;
    padding-right: 35px;
  }
}

.panel:last-child {
  padding-top: 35px;

  @media (min-width: $tablet) {
    padding-top: 0;
    padding-left: 35px;
  }
}

//================= Payment Account ========================
.cardItem {
  width: 33%;
  margin-right: 30px;
  flex-grow: 1;
  flex-shrink: 1;
  // border: 1px solid gray;

  @media (min-width: $mobile) {
    width: 25%;
  }
}

.cardItem:not(:last-child) {
  margin-bottom: 30px;
}

.cardItemsContainer {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 540px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $mobile) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

//======================= Buttons =========================

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $mobile) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.info {
  margin-top: 30px;
  margin-right: 0px;
  order: 1;

  @media (min-width: $mobile) {
    order: 0;
    margin-right: 50px;
  }
}
