@import "../index.scss";

.label {
  font-family: "Muli Regular", Arial, Helvetica, sans-serif;
  display: block;
  margin-bottom: 14px;
}

.labelValue {
  color: $primaryDarkColor;
  font-size: 16px;
}
.labelCurrency {
  color: $textColor;
  font-size: 14px;
}

.input {
  font-family: "Muli Bold", Arial, Helvetica, sans-serif;
  border: 1px solid $iconsLightColor;
  height: 52px;
  width: 100%;
  font-size: 18px;
  line-height: 21px;
  color: $primaryDarkColor;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.icon,
.sign {
  color: $primaryLightColor;
  margin-right: 10px;
  height: 18px;
  width: 16px;
}
