@import "../index.scss";

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  @media (min-width: $mobile) {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
  }

  button:last-child {
    margin-left: 0;
    margin-top: 20px;
    @media (min-width: $mobile) {
      margin-left: 20px;
      margin-top: 0px;
    }
  }
}
.buttons > button {
  @media (max-width: 530px) {
    width: 100%;
  }
}
