@import "../../index.scss";

.container {
  position: relative;
  border: 1px solid $iconsLightColor;
  font-family: "Muli Bold", "Courier New", Courier, monospace;
  color: $textColor;
  height: 52px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 10px;
  border-radius: 2px;
}

// ======== Single value ==========

.singleValue {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-family: "Muli Regular", Arial, Helvetica, sans-serif;
}

.iconSingleValue {
  color: $primaryLightColor;
}

// ======== Indicator ==========

.indicatorContainer {
  min-width: 30px;
  height: 100%;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indicator {
  height: 10px;
  width: 10px;
}

.up {
  transform: rotate(180deg);
  color: $primaryLightColor;
}

// ======== Menu ==========

.menu {
  font-size: 16px;
  list-style: none;
  padding-left: 0;
  position: absolute;
  top: calc(100% + 1px);
  right: -1px;
  background-color: white;
  margin: 0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 999;
  width: calc(100vw - 72px);

  @media (min-width: $mobile) {
    width: auto;
  }
}

.menuItem {
  padding: 18px 20px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  overflow: hidden;

  &.searchMenuItem:hover {
    background-color: white;
  }
}

.menuItem:hover {
  background-color: $hoverColor;
  color: $primaryDarkColor;
}

.menuItem:not(:last-child) {
  background-image: linear-gradient($iconsLightColor, $iconsLightColor);
  background-size: calc(100% - 40px) 1px;
  background-position: bottom center;
  background-repeat: no-repeat;
}

// ======== Search ==========

.search {
  border: none;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  width: 100%;
}

.searchIcon {
  height: 18px;
  width: 24px;
  margin-left: 10px;
  flex-shrink: 0;
}

// ======== Action button ==========
.menuButton {
  color: $primaryLightColor;
}
