@import "../../index.scss";

.cardItem {
}

.label,
.value {
  white-space: nowrap;
}

.label {
  font-family: "Muli Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 21px;
  color: $textColor;
  margin: 0;
  margin-bottom: 8px;
}

.value {
  font-family: "Muli Bold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  color: $primaryDarkColor;
}

.qrcode {
  height: 30px;
  margin-right: 10px;

  @media (min-width: 700px) {
    display: none;
  }
}
