@import "../../index.scss";

.container {
}

.label {
  font-family: "Muli Regular", "Courier New", Courier, monospace;
  margin-bottom: 15px;
  display: inline-block;
  white-space: nowrap;
}

.dynamicLabel {
  font-size: 14px;
  line-height: 21px;
  color: $textColor;
}

.staticLabel {
  font-size: 16px;
  line-height: 24px;
  color: $primaryDarkColor;
}
//========== single value ============

.iconSingleValue {
  width: 15px;
  height: 18px;
  margin-right: 10px;
  flex-shrink: 0;
  height: 18px;
  color: $primaryLightColor;
}
.signSingleValue {
  font-family: "Muli Bold";
  color: $primaryLightColor;
  font-size: 18px;
  margin-right: 10px;
}

.codeSingleValue {
  margin-right: 10px;
  font-family: "Muli Bold";
  font-size: 18px;
}

// =========== menu values ============

.code {
  margin-right: 50px;
}

.icon {
  width: 15px;
  height: 18px;
  margin-right: 10px;
  color: $primaryLightColor;
}

.sign {
  font-size: 18px;
  width: 15px;
  margin-right: 10px;
  height: 18px;
  color: $primaryLightColor;
}

.name {
  margin-left: auto;
  font-family: "Muli Regular", Arial, Helvetica, sans-serif;
}
