@import 'src/common/scss/variables';
@import 'src/common/scss/datepicker';


.calendar__icon{
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	border: 1px solid $colorPrimary;
	border-radius: 3px;
	position: absolute;
    top: 14px;
    left: 18px;

	&:before{
		content: " ";
		position: absolute;
		top: 3px;
		left: 0;
		right: 0;
		border-top: 1px solid $colorPrimary;
	}

	&:after{
		content: " ";
		position: absolute;
	    top: -2px;
	    height: 3px;
	    left: 3px;
	    right: 3px;
		border-left: 1px solid $colorPrimary;
		border-right: 1px solid $colorPrimary;	
	}
}
  
.history{ 

	&__nav{
		display: flex;
		align-items: flex-end;
	}

	&__datepicker{
		margin-left: 40px;
		background: #eaecfa;
	    border-radius: 4px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    position: relative;
	    margin-top: -3px;
	    display: inline-block;
	    vertical-align: top;
	    white-space: nowrap;

	    &_wrap{
	    	position: relative;
	    }

		input{
			width: 100%;
			border: none;
			background: none;
			text-align: center;
    		font-family: inherit;
	    	padding: 13px 10px;
			background: transparent;
			display: block;
			background: transparent;
			position: relative;
			z-index: 1;
		}



		&:after{
			content: " ";
			position: absolute;			
		    top: 50%;
		    right: 21px;
		    border: 4px solid transparent;
		    border-top-width: 6px;
			border-top-color: $colorPrimary;
			margin-top: -3px;
		}

		&_toggle{
			display: none;
		}

	}
	&__menu{
		border-bottom: 1px solid $inputBorderColor;
		flex-grow: 1;
	}

	&__content{
		margin-top: 30px;
	}
}


.menu{
	&__item{
		display: inline-block;
		vertical-align: bottom;
		border-bottom: 3px solid transparent;
		margin-bottom: -2px;
    	margin-right: 9px;

		a{
			color: $colorGray;
			display: inline-block;
			vertical-align: bottom;
			padding: 8px 20px;

			&:hover{
				color: $colorAccent;
			}
		}

		&.current{
			border-bottom-color: $colorAccent2;

			a{
				color: $colorPrimary;
			}
		}
	}
}

.table{
	display: table;
	background: #FFFFFF;
	padding: 20px 20px 0;
	font-size: 14px;
    line-height: normal;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.04);
	border-radius: 4px;
	width: 100%;

	&__head{
		display: table-header-group;

		.table__cell{
			color: $colorGray;
		    padding-top: 15px;
		    padding-bottom: 11px;
		}
	}

	&__row{
		display: table-row;

		&:last-child{
			.table__cell{
				border-bottom: none;
			}
		}
	}

	&__body{
		display: table-row-group;		
	}

	&__cell{
		padding: 31px 27px;
		display: table-cell;
		border-bottom: 1px solid $inputBorderColor;
		color: $colorPrimary;

		&:first-child{
			padding-left: 0;
		}

		&:last-child{
			padding-right: 0;
			text-align: right;
		}
	}
}

.dot{
	display: inline-block;
	vertical-align: middle;
	margin: -4px 11px 0 0;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: $colorGray;

	&.done{
		background-color: $colorPrimary;
	}

	&.canceled{
		background-color: $colorAccent2;
	}
}


.status{
	display: inline-block;
    vertical-align: top;
	position: relative;
	padding-left: 20px;

	.dot{
		position: absolute;
		top: 10px;
		left: 0;
	}
}




@media screen and (max-width: $tablet){
	
	.history{
		
		&__nav{
			position: relative;
		}

		&__datepicker{
			margin-left: 0;

			&_wrap{
				position: absolute;
				top: -67px;
				right: 0;
    			left: 0;

			}
		}
	}

	.menu{
		display: flex;
		width: 100%;
		max-width: 100%;
		flex-wrap: wrap;

		&__item{
			margin: 0;

			a{

			}
		}
	}


	.table{
		background: none;
		display: block;
		padding: 0;
		box-shadow: none;

		&__head{
			display: none;
		}

		&__row{
			display: flex;
			flex-wrap: wrap;
			z-index: 1;
			position: relative;
			margin-left: -42px;
			margin-bottom: 22px;
			padding: 26px 20px 10px;

			&:before{
				content: " ";
				position: absolute;
				top: 0;
				left: 42px;
				right: 0;
				height: 100%;
				background: #FFFFFF;
				z-index: -1;
    			box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.04);
				border-radius: 4px;
			}
		}

		&__body{
			display: block;
		}

		&__cell{
			display: inline-block;
			vertical-align: top;
			border: none;
			padding: 0;
			margin: 0 0 20px 42px;
			order: 3;

			&:before{
				content: attr(data-title);
				display: block;
				color: $colorGray;
				margin-bottom: 11px;
			}

			&:first-child{
				text-align: inherit;
				order: 1;
			}

			&:last-child{
				text-align: inherit;
			}

			&:nth-child(3){
				order: 2;
			}

		}
	}
}


@media screen and (max-width: $mobile){

	
	.menu{

		&__item{

			a{
				padding-left: 9px;
				padding-right: 9px;
			}
		}
	}

	.table{

		&__row{
			margin-left: -24px;

			&:before{
				left: 24px;
			}
		}

		&__cell{
			margin-left: 24px;
		}
	}

	.history__datepicker{
		width: 100%;
		border-radius: 4px;
		display: none;

		&.active{
			display: block;
		}


		.calendar__icon{
			top: 10px;
			left: 10px;
		}

		&_toggle{
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			background: #eaecfa;
			width: 35px;
			height: 35px;
			border-radius: 4px;


			.calendar__icon{
				top: 10px;
				left: 10px;
			}
		}
	}
}
