@import "../index.scss";

.title {
  font-family: "Muli Black", "Courier New", Courier, monospace;
  color: $primaryDarkColor;
  padding: 0;
}

.h1 {
  font-size: 30px;
  line-height: 38px;
}

.h2 {
  font-family: "Muli Bold", "Courier New", Courier, monospace;
  font-size: 24px;
  line-height: 36px;
}

.h3 {
  font-size: 20px;
  line-height: 30px;
}
