@import "../../index.scss";

.icon {
  width: 26px;
  flex-shrink: 0;
  height: 18px;
  margin-right: 10px;
}

.iconSingleValue {
  width: 20px;
  height: 18px;
  flex-shrink: 0;
  margin-right: 10px;
  display: none;

  @media (min-width: $mobile) {
    display: block;
  }
}

.code {
  margin-right: 20px;
}

.name {
  margin-left: auto;
  font-family: "Muli Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
