@import "src/common/scss/variables";

.header {
  margin-bottom: 29px;
}

.container {
  background-color: #fff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.04);
  padding: 24px 20px;
}

// Grid layout -----------------------

.pane {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 60% 1fr;
  grid-template-rows: min-content;
  width: 100%;
}

.inputValue {
  grid-row: 1;
  grid-column: 1;
}

.selectCurrency {
  grid-row: 1;
  grid-column: 2;
}

.selectAccount {
  grid-row: 2;
  grid-column: 1 / 3;
}

.infoLine {
  grid-row: 3;
  grid-column: 1 / 3;

  font-size: 14px;
  line-height: 21px;

  &Ammount {
    color: $colorPrimary;
  }
}

//-------------------------------------

@media (min-width: $laptop) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .pane {
    grid-template-rows: min-content min-content 120px;
  }

  .selectAccount {
    grid-row: 3;
    grid-column: 1 / 3;
    align-self: end;
  }

  .infoLine {
    grid-row: 2;
    grid-column: 1 / 3;
  }
}
