@import "../../index.scss";

.item {
  display: flex;
  font-family: "Muli Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: $textColor;
  line-height: 24px;
  padding: 17px 0;
}

.item:hover .text {
  color: $primaryLightColor;
  font-family: "Muli Bold";
}

.activeLink .text {
  color: $primaryLightColor;
  font-family: "Muli Bold";
}

.icon {
  margin-right: 18px;
  width: 26px;
  height: 26px;
  flex-shrink: 0;

  // @media (min-width: $desktop) {
  //   width: 40px;
  //   height: 40px;
  // }
}

.text {
  white-space: nowrap;
}
