@import "../index.scss";

.SwapButton {
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &:before,
  &:after {
    content: " ";
    width: 50%;
    display: block;
    height: 1px;
    background-color: $iconsLightColor;
  }
}

.Circle {
  width: 60px;
  height: 60px;
  color: $primaryDarkColor;
}

@media (min-width: $tablet) {
  .SwapButton {
    flex-direction: column;
    width: 7%;
    flex-shrink: 0;
    flex-grow: 0;

    &:before,
    &:after {
      content: " ";
      width: 1px;
      display: block;
      height: 50%;
    }
  }

  .Circle {
    transform: rotate(90deg);
  }
}
