@import "src/common/scss/fonts";
@import "src/common/scss/select-styles";
@import "src/common/scss/variables";
@import "src/common/scss/buttons";
@import "src/common/scss/content.scss";
@import "src/common/scss/datepicker.scss";

* {
  box-sizing: border-box;
  outline: none;
}

html {
  min-height: 100vh;
}

body {
  font-family: "Muli Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $colorGray;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

body,
ul,
li,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Muli Black";
  font-size: 30px;
  line-height: 38px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Muli Bold", Arial, Helvetica, sans-serif;
  color: $colorAccent;
}

.collapse-css-transition {
  transition: height 780ms cubic-bezier(0.4, 0, 0.2, 1);
}
