@import "../../lib/index.scss";

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1000;
}

.container {
  width: 90%;
  margin: 60px auto;
  min-height: 10%;
  height: auto;
  background-color: white;
  z-index: 1001;
  padding: 25px 20px;
  border-radius: 4px;

  @media (min-width: $tablet) {
    width: 70%;
  }
}
