@import "../../lib/index.scss";

.wrapper {
  display: grid;
  grid-template-columns: 1fr 75px;
  align-items: end;
  gap: 16px;
  row-gap: 30px;

  @media (min-width: 768px) {
    grid-template-columns: calc(50% - 8px) 1fr 75px;
  }
}

.name {
  grid-row: 1;
  grid-column: 1 / 3;

  @media (min-width: 768px) {
    grid-column: 1;
  }
}

.bankName {
  grid-row: 2;
  grid-column: 1 / 3;

  @media (min-width: 768px) {
    grid-column: 1;
  }
}

.iban {
  grid-row: 3;
  grid-column: 1 / 3;

  @media (min-width: 768px) {
    grid-column: 1;
  }
}

.currency {
  grid-row: 4;
  grid-column: 1 / 3;

  @media (min-width: 768px) {
    grid-column: 1;
  }
}

.address {
  grid-row: 5;
  grid-column: 1 / 3;

  @media (min-width: 768px) {
    grid-row: 1;
    grid-column: 2 / 4;
  }
}

.bankAddress {
  grid-row: 6;
  grid-column: 1 / 2;

  @media (min-width: 768px) {
    grid-row: 2;
    grid-column: 2 / 3;
  }
}

.country {
  grid-row: 6;
  grid-column: 2 / 3;

  @media (min-width: 768px) {
    grid-row: 2;
    grid-column: 3 / 4;
  }
}

.bankCode {
  grid-row: 7;
  grid-column: 1 / 3;

  @media (min-width: 768px) {
    grid-row: 3;
    grid-column: 2 / 4;
  }
}

.reference {
  grid-row: 8;
  grid-column: 1 / 3;

  @media (min-width: 768px) {
    grid-row: 4;
    grid-column: 2 / 4;
  }
}
