@import 'src/common/scss/variables';

.form {
  background: #fff;
  padding: 30px 20px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.04);
}

.fields {
  display: flex;
  margin-bottom: 80px;
}

.field {
  flex-grow: 1;
}

.email {
  min-width: 50%;
  margin-right: 28px;
}

.fieldContainer {
  display: flex;
}

.fieldLabel {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  color: #151F51;
  margin-bottom: 13px;
  cursor: pointer;
}

.fieldInput {
  display: block;
  width: 100%;
  font-family: 'Muli Regular';
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  border: 1px solid #EBEBF5;
  border-radius: 1px;
  background-color: transparent;
  color: #151F51;
  padding: 15px;
}

.controls {
  display: flex;
  justify-content: flex-end;
}

.phoneCode {
  position: relative;
  max-width: 140px;
  width: 100%;
  cursor: pointer;
  user-select: none;
  margin-right: 14px;
}

.selectPhoneCode {
  position: absolute;
  top: calc(100% + 3px);
  right: 0;
  min-width: 326px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.14);
  background-color: #fff;
}

.selectItem {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  span {
    color: #151F51;
    font-weight: bold;
  }

  &:hover {
    background-color: #F5F6FC;
  }
}

.selectItemActive {
  background-color: #F5F6FC;
}

.search {
  width: 100%;
  color: #151F51;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #EBEBF5;
}

.hide {
  display: none;
}
