@import "../index.scss";

.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-family: "Muli Bold", Arial, Helvetica, sans-serif;

  width: 100%;
}

// ================= SMALL BUTTON ===================

.small {
  width: 36px;
  height: 36px;
  background-color: $primaryLightColor;
  color: white;
  font-family: "Muli Bold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;

  &:hover {
    background-color: #2a3ea2;
  }

  @media (min-width: $mobile) {
    width: 209px;
    height: 44px;
  }

  .icon {
    width: 15px;
    height: 15px;
    display: block;

    @media (min-width: $mobile) {
      display: none;
    }
  }

  .text {
    display: none;

    @media (min-width: $mobile) {
      display: block;
    }
  }
}

// ================= MEDIUM, LARGE BUTTON ===================
.medium,
.large {
  width: 320px;
  height: 57px;
  background-color: $primaryLightColor;
  color: white;
  font-size: 16px;
  line-height: 24px;

  &:hover {
    background-color: #2a3ea2;
  }

  @media (min-width: $mobile) {
    width: 180px;
    height: 57px;
  }
}

// ================= MEDIUM BUTTON ===================

// ================= LARGE BUTTON ===================

.large {
  @media (min-width: $tablet) {
    width: 230px;
    height: 65px;
  }
}

.small.secondary,
.medium.secondary,
.large.secondary {
  background-color: $iconsLightColor;
  color: $primaryDarkColor;
}

//================ LOGIN BUTTON ==================

.login {
  background-color: $accentColor;
  color: white;
  width: 320px;
  height: 52px;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $mobile) {
    width: 230px;
    height: 52;
  }

  &:hover {
    background-color: darken($accentColor, 10%);
  }

  &.disabled {
    background-color: #fbbfbf;

    &:hover {
      background-color: #fbbfbf;
    }
  }
}
