@import "../../lib/index.scss";

.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/img/regbg.jpg");
  background-size: cover;

  padding: 25px 16px;

  @media (min-width: $mobile) {
    padding: 35px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: $tablet) {
    align-items: center;
  }
}

.logo {
  position: absolute;
  top: 25px;
  left: 16px;
}

.card {
  padding: 25px 20px;
  margin-top: 120px;
  max-width: 1000px;

  @media (min-width: $mobile) {
    margin-top: 0;
  }
  @media (min-width: $tablet) {
    padding: 35px 35px;
    width: 75%;
  }
}

.title {
  margin-bottom: 12px;
}

.text {
  margin-bottom: 50px;
}

.inputs {
  margin-bottom: 80px;

  @media (min-width: $mobile) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

.email {
  flex-grow: 1;
  margin-bottom: 30px;
  @media (min-width: $mobile) {
    margin-right: 20px;
  }
}

.password {
  flex-grow: 1;
}

.button {
  margin: 0 auto 20px auto;

  @media (min-width: $mobile) {
    margin: 0 0 20px 0;
  }
}

.register {
  text-align: center;

  @media (min-width: $mobile) {
    text-align: left;
  }
}
